---
import Editor from "components/Editor.astro";
import Layout from "components/Layout.astro";
const { id } = Astro.params;
---

<Layout>
  <a href="/"><button class="border rounded p-2">top</button></a>
  <div>{id && <Editor id={id} />}</div>
</Layout>
